$black: #222222;
$total-black: #000000;
$black-bkg: #222224;
$pink-bkg: #f1e4e6;
$pink-color: #f09ba7;
$pink-text: #f16d7f;
$gray-text: #9f9f9f;
$light-gray-bkg: #f8f8f8;
$white: #fbfbfb;
$total-white: #ffffff;
$active: #5c5a5a65;
$hover: #cc5868;
$focus: #cc5868;
$active-light: #f7f7f73f;

$tablet-width: 1320px;
$mobile-width: 767px;
