.cart {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  margin: 0 0 96px 0;

  @include tablet {
    margin: 0 0 59px 0;
  }

  &__title {
    @include font(24px, 29px, 400, normal);
    color: $pink-color;
    text-transform: uppercase;
    align-self: center;
  }

  @include mobile {
    text-align: center;
  }
}
