.checkout {
  &__form {
    display: block;
  }

  &__field-title {
    @include font(16px, 19px, 300);
    padding: 0 0 0 0;
    text-transform: uppercase;
  }

  &__field-input {
    width: 360px;
    height: 45px;
    padding: 0 0 0 16px;
    margin: 20px 0 0 0;
    opacity: 0.7;
    outline-color: $gray-color;

    @include mobile {
      width: 273px;
    }
  }

  &__subtitle {
    position: relative;
  }

  &__subtitle-price {
    color: $pink-color;
  }

  &__total-price {
    color: $pink-color;
    padding: 0 0 0 10px;
  }

  &__item-btn {
    display: flex;
    justify-content: center;
  }

  &__proceed-btn {
    width: 273px;
    height: 50px;
    font-size: 11px;
    border: none;
    color: $white-color;
    background-color: $pink-color;
    text-transform: uppercase;
    margin: 17px 0 0 0;
  }

  &__proceed-btn:hover {
    background-color: $gray-color;
  }

  &__proceed-btn:active {
    outline: 2px solid $gray-color;
  }

  &__field-btn {
    width: 100px;
    height: 34px;
    border-width: 1px;
    font-size: 11px;
    color: gray;
    border-color: $gray-color;
    background-color: transparent;
    text-transform: uppercase;
    margin: 24px 0 0 0;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  &__field-btn-next {
    width: 244px;
    height: 49px;
    border-width: 1px;
    border-color: $gray-color;
    text-transform: uppercase;
    color: gray;
    background-color: transparent;

    @include mobile {
      width: 100%;
      height: 33px;
    }
  }

  &__field-wrp {
    @include tablet {
      display: flex;
      align-items: center;
      margin: 0 auto 128px;
    }

    @include mobile {
      flex-direction: column;
      margin: 0 0 96px 0;
    }
  }

  &__field-btn-wrp {
    display: flex;
    justify-content: space-between;
    max-width: 652px;
    margin: 0 0 128px 0;

    @include tablet {
      margin: 0 0 64px 0;
      justify-content: space-around;
    }
  }
}
