.checkout {
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
  }

  &__ul-wrp {
    margin: 0 auto;
  }

  &__list {
    width: 652px;

    @include tablet {
      margin: 0 auto;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__item {
    position: relative;
    display: flex;
    margin: 0 0 40px 0;
    box-shadow: 13px 13px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &__item-img {
    @include mobile {
      max-width: 144px;
    }
  }

  &__item-close {
    position: absolute;
    color: $gray-color;
    content: "";
    width: 18px;
    height: 18px;
    right: 30px;
    top: 30px;

    @include mobile {
      right: 10px;
      top: 15px;
    }
  }

  &__item-close:hover {
    fill: red;
  }

  &__item-close:active {
    outline: 0.5px solid $gray-color;
  }

  &__title {
    @include font(24px, 29px, 300);
    width: 200px;
    text-transform: uppercase;
    padding: 22px 0 42px 32px;

    @include mobile {
      @include font(16px, 29px, 400);
      width: 130px;
      padding: 13px 0 25px 17px;
    }
  }

  &__subtitle {
    @include font(22px, 26px, 400);
    padding: 0 0 6px 32px;

    @include mobile {
      @include font(14px, 16px, 400);
      padding: 0 0 6px 17px;
    }
  }

  &__subtitle-number {
    position: absolute;
    color: $gray-color;
    width: 43px;
    height: 24px;
    left: 100px;
    bottom: 5px;
    font-size: 18px;
    text-align: center;
    display: block;
    border: 1px solid;
    margin: 0 0 0 40px;

    @include mobile {
      font-size: 10px;
      width: 23px;
      height: 15px;
      margin: 0 0 0 15px;
    }
  }

  &__total-list {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    margin: 57px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      margin: 0 0 0 15px;
      height: 200px;
    }

    @include mobile {
      margin: 48px 0 0 0;
    }
  }

  &__proceed-btn {
    transition: background-color 0.5s linear;
  }

  &__sub-total {
    @include font(11px, 13px, 400);
    padding: 0 34px 12px 0;
    text-align: end;
    text-transform: uppercase;
  }

  &__grand-total {
    @include font(16px, 19px, 400);
    padding: 0 34px 21px 0;
    text-align: end;
    text-transform: uppercase;
  }
}
