.dropdown {
  display: flex;
  justify-content: center;
  margin: 65px 0 48px 0;
}

.btn-secondary {
  @include font(14px, 16px, 400);
  color: $gray-color;
  background-color: transparent;
  border-color: #fff;

  @include mobile {
    @include font(10px, 12px, 400);
  }
}
