.features {
  border: 1px solid #c9c9c9;
  transform: translate(0, -60px);
  background-color: #fff;

  @media (max-width: $tablet-width) {
    transform: translate(0);
  }

  @media (max-width: $mobile-width) {
    transform: translate(0);
  }

  &__top-block {
    width: 100%;
    height: 60px;
    border: 1px solid;
    border-bottom: 0;
    position: absolute;
    top: 940px;
    right: 538px;
    color: #a7a7a7;
  }

  &__title {
    @include font(14px, 17px, 300);
    color: $pink-color;
    text-transform: uppercase;
    text-align: center;
    margin: 64px 0 0 0;
    position: relative;
  }

  &__title::after {
    content: "";
    display: block;
    width: 64px;
    height: 3px;
    background-color: $pink-color;
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    margin: 0 auto;
  }

  &__subtitle {
    @include font(18px, 21px, 300);
    text-transform: uppercase;
    text-align: center;
    margin: 27px 0 48px 0;
  }

  &__text {
    @include font(14px, 16px, 300);
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
  }

  &__price {
    @include font(24px, 28px, 300);
    color: $pink-color;
    text-align: center;
    margin: 32px 0 65px 0;
  }

  &__dropdown-wrp {
    display: flex;
    justify-content: center;
  }

  &__btn-wrp {
    display: flex;
    justify-content: center;
    margin: 0 0 65px 0;
  }

  &__btn {
    width: 210px;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $pink-color;
    transition: background-color 0.5s linear;
  }

  &__button-text {
    color: $pink-color;
    padding: 0 0 0 10px;
  }

  &__btn:hover {
    border-color: white;
    background-color: $gray-color;
  }

  &__btn:active {
    border: 2px solid red;
  }

  &__btn-text {
    color: $pink-color;
    padding: 0 0 0 10px;
  }

  &__hr {
    width: 70%;
    margin: 0 auto;
    color: red;
  }
}
