.field {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 0 0;

  @include mobile {
    flex-direction: column;
  }

  &__title {
    @include font(16px, 19px, 300);
    padding: 0 0 0 0;
  }

  &__input {
    width: 90%;
    height: 45px;
    padding: 0 0 0 16px;
    margin: 20px 125px 0 0;
    opacity: 0.7;
    outline-color: $gray-color;

    @include tablet {
      width: 90%;
      margin: 20px 22px 0 0;
    }

    @include mobile {
      width: 90%;
      margin: 20px 0 0 0;
    }
  }

  &__radio {
    display: flex;
    padding: 34px 0 34px 0;
  }

  &__radio-other {
    display: flex;
    @include tablet {
      display: flex;
    }

    @include mobile {
      display: flex;
    }
  }

  &__form {
    display: block;
  }

  &__radio-label {
    padding: 0 20px 0 0;
  }

  &__text {
    max-width: 360px;
    @include font(13px, 16px, 300);
    margin: 15px 0 39px 0;
    color: #b1b1b1;
  }

  &__btn {
    width: 167px;
    height: 50px;
    margin: 0 0 96px 0;
    background-color: $pink-color;
    color: $white-color;
    text-transform: uppercase;
    border: none;

    @include mobile {
      margin: 0 0 40px 0;
    }
  }

  &__btn::after {
    content: "\2192";
    font-size: 20px;
    padding: 0 0 0 20px;
  }

  &__btn:hover {
    background-color: $gray-color;
  }

  &__btn:active {
    outline: 2px solid $gray-color;
  }

  &__item {
    position: relative;
    padding: 0 0 27px 25px;
    font-size: 24px;
    font-weight: 300;

    @include tablet {
      @include font(16px, 19px, 300);
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../img/chek.svg);
    background-size: 16px 16px;
    left: -20px;

    @include mobile {
      left: 0;
    }
  }

  &__list-title {
    @include font(24px, 29px, 300);
    text-transform: uppercase;
    @include tablet {
      @include font(16px, 19px, 300);
    }
  }

  &__list-subtitle {
    max-width: 720px;
    @include font(24px, 29px, 300);
    padding: 22px 0 27px 0;
    @include tablet {
      @include font(16px, 19px, 300);
    }
  }

  &__list {
    margin: 0 0 0 15px;
  }
}
