.footer__subscribe {
  background: rgba(244, 244, 244, 0.7);
  background-image: url(../img/footer-bkg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $gray-text;
  min-height: 448px;
  display: flex;
  align-items: center;

  @include tablet {
    background-position: -350px;
    background-size: cover;
    padding: 64px 0 140px;
    min-height: fit-content;
  }
}

.footer__subscribe-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  @include tablet {
    flex-direction: column;
  }
}

.footer__subscribe-creator {
  text-align: center;
  width: 31%;

  @include tablet {
    width: 49%;
  }

  @include mobile {
    width: 95%;
  }
}

.footer__subscribe-img {
  margin-bottom: 30px;
}

.footer__subscribe-quote {
  font-size: 20px;
  line-height: 24px;
  color: $black-bkg;

  @include mobile {
    @include font(19px, 22px, 400);
  }
}

.footer__subscribe-quote_italics {
  font-style: italic;
}

.footer__subscribe-form {
  width: 49%;
  text-align: center;

  @include tablet {
  }

  @include mobile {
    width: 100%;
  }
}

.footer__subscribe-title {
  @include font(24px, 38px, 400);
  text-transform: uppercase;
  margin-bottom: 32px;

  @include mobile {
    @include font(14px, 21px, 400);
    margin: 48px 0 27px;
  }

  @include tablet {
    margin: 59px 0 22px;
  }
}

.footer__subscribe-title_bold {
  @include font(24px, 40px, 700);
  font-weight: bold;
  display: block;

  @include mobile {
    @include font(24px, 36px, 700);
  }
}

.footer__subscribe-form_wrp {
  display: flex;
  justify-content: center;
}

.footer__subscribe-input {
  background: #e1e1e1;
  border: none;
  height: 49px;
  width: 256px;
  padding: 0 0 0 22px;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;

  @include mobile {
    width: 245px;
  }
}

.footer__subscribe-input:hover,
.footer__subscribe-input:focus {
  outline: 1px solid #949292;
}

.footer__subscribe-input::placeholder {
  line-height: 17px;
  color: $black-bkg;
  opacity: 0.67;
  font-weight: normal;
  line-height: 17px;
}

.footer__subscribe-button {
  background: $pink-text;
  border: none;
  height: 49px;
  width: 100px;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  color: $total-white;
  line-height: 17px;
  font-weight: normal;
  padding: 0;
  transition: background 500ms;

  @include mobile {
    width: 95px;
  }
}

.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
  background: #e05c6e;
  outline: none;
}

.footer__subscribe-button:active {
  background: $hover;
  outline: none;
}

.footer__bottom {
  display: flex;
  align-items: center;
  background-color: $black-bkg;
  min-height: 79px;

  @include mobile {
    padding: 43px 0 9px;
    min-height: 91px;
  }
}

.footer__bottom-wrp {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;

  @include tablet {
    padding: 0 4px 0 13px;
  }

  @include mobile {
    flex-direction: column-reverse;
    padding: 0;
  }
}

.footer__rights {
  font-size: 16px;
  line-height: 19px;
  color: $white;

  @include mobile {
    margin: 40px 0 0;
  }
}

.footer__social-networks {
  &-list {
    display: flex;
  }

  &-item {
    margin-left: 7px;
  }

  &-link {
    height: 32px;
    width: 32px;
    background-color: $total-white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 500ms;
  }

  &-icon {
    fill: $total-black;
    transition: fill 500ms;
  }
}

.footer__social-networks-link:focus {
  outline: none;
}

.footer__social-networks-link:hover,
.footer__social-networks-link:focus,
.footer__social-networks-link:active {
  background-color: $pink-text;
}

.footer__social-networks-link:hover .footer__social-networks-icon,
.footer__social-networks-link:focus .footer__social-networks-icon,
.footer__social-networks-link:active .footer__social-networks-icon {
  fill: $total-white;
}
