[type="email"] {
  display: block;
}

[type="adress"],
[type="email"],
[type="text"],
[type="text"],
[type="password"],
[type="number"] {
  display: block;
  outline: 1px solid;
  border: none;
  opacity: 0.5;
}

[type="password"]:hover,
[type="password"]:focus,
[type="number"]:hover,
[type="number"]:focus,
[type="email"]:hover,
[type="email"]:focus,
[type="text"]:hover,
[type="text"]:focus,
[type="search"]:hover,
[type="search"]:focus {
  outline: 0.5px solid red;
}

[type="search"]::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

[type="email"]::-webkit-input-placeholder {
  color: $white-color;
}
