.products {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    @include font(30px, 36px, 400);
  }

  &__subtitle {
    @include font(14px, 17px, 400);
    margin: 0 0 18px 0;
    color: $gray-color;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 360px;
    background-color: #f8f8f8;
    margin: 30px 0 0 0;
    position: relative;

    @include mobile {
      margin: 30px auto;
    }
  }

  /*Затемнение Products--------*/

  &__item-wrapper {
    position: relative;
  }

  .overlay {
    width: 100%;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
  }

  .overlay,
  .products__button {
    display: none;
  }

  &__button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.5s linear;
    background-color: transparent;
    color: #fff;
    padding: 13px 13px;
    //border: 1px solid red;
  }

  &__button-text {
    @include font(14px, 17px, 400);
    align-self: center;
    padding: 0 0 0 11px;
    text-decoration: none;
  }

  &__item:hover &__button {
    display: flex;
    border: 1px solid;
  }

  &__item:hover .overlay {
    display: block;
  }

  /*---------------------------------*/

  &__item-img {
    margin: 0 0 25px 0;
  }

  &__item-title {
    @include font(13px, 16px, 400);
    padding: 0 0 0 18px;
    text-transform: uppercase;
  }

  &__item-text {
    @include font(14px, 17px, 300);
    padding: 13px 28px 18px 18px;
    color: $gray-color;
  }

  &__item-price {
    padding: 0 0 20px 18px;
    color: $pink-color;
  }

  &__link {
    @include font(16px, 19px, 400);
    text-decoration: none;
    color: $pink-color;
    border: 1px solid;
    transition: color 0.5s linear;
    padding: 14px 40px 14px 40px;
    margin: 63px 0 0 0;
  }
  &__button-text:hover {
    color: red;
  }

  &__button:hover {
    color: red;
  }

  &__link:hover {
    background-color: $pink-color;
    color: $white-color;
  }

  &__link:active {
    outline: 2px solid azure;
  }

  &__button:hover .white-icon {
    fill: red;
  }

  &__link:active,
  &__button:active {
    outline: 1px solid azure;
  }
}
