/*Registration*/

.reg {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;

  &__title {
    @include font(24px, 29px, 400);
    color: $pink-color;
    text-transform: uppercase;
    align-self: center;

    @include mobile {
      text-align: center;
    }
  }
}
