.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile {
    justify-content: center;
  }
}

.sales__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  @include tablet {
    min-height: 167px;
  }

  @include mobile {
    width: 95%;
    min-height: 247px;
    margin: 0 0 32px;
  }

  &-link {
    display: block;
    text-decoration: none;
    transition: transform 500ms;
  }

  &_woman {
    background-image: url(../img/item-woman.jpg);
    background-size: cover;
    background-color: $pink-color;
  }

  &_man {
    background-image: url(../img/item-man.jpg);
    background-size: cover;
    background-color: $pink-color;
  }

  &_kids {
    background-image: url(../img/item-kids.jpg);
    background-size: cover;
    background-color: $pink-color;
  }

  &_accesories {
    background-image: url(../img/item-accesories.jpg);
    background-size: cover;
    background-color: $pink-color;
    width: 100%;
    margin: 30px 0 0;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include tablet {
      margin: 19px 0 0;
    }

    @include mobile {
      margin: 0;
      width: 95%;
      min-height: 111px;
    }
  }

  &-text {
    text-transform: uppercase;
    @include font(16px, 19px, 400);
    color: $total-white;
  }

  &-title {
    text-transform: uppercase;
    @include font(24px, 29px, 700);
    color: $pink-text;
  }
}

.sales__item-link:hover .sales__item-title,
.sales__item-link:focus .sales__item-title {
  color: #a0515b;
}

.sales__item-link:hover .sales__item-text,
.sales__item-link:focus .sales__item-text {
  color: $active-light;
}

.sales__item-link:active .sales__item-title,
.sales__item-link:active .sales__item-text {
  color: $active;
}

.sales__item-link:hover {
  transform: scale(1.07);
}
