.service {
  margin: 95px 0 0 0;
  background-color: $black;
  min-height: 341px;
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 360px;
  }

  &__item-img {
    display: flex;
    margin: 0 auto;
  }

  &__item-title {
    @include font(20px, 24px, 400);
    //font-size: 20px;
    //font-weight: 400;
    //line-height: 24px;
    padding: 28px 0 0 0;
    color: $white-color;
    text-align: center;
  }

  &__item-text {
    @include font(14px, 24px, 300);
    //font-size: 14px;
    //font-weight: 300;
    //line-height: 24px;
    padding: 28px 0 0 0;
    color: $white-color;
    padding: 16px 0 0 0;
    text-align: center;
  }
}
